@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  min-height: 100vh;
  display: flex;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.authButton {
  width: 50%;
  border: 1px solid rgb(240, 236, 236);
  border-radius: 1rem;
  background-color: black;
  color: aliceblue;
}

.authButton:hover {
  background-color: rgba(0, 0, 0, 0.292);
}

.css-1u2cvaz {
  align-items: center !important;
}