@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App{
  min-height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.516);
}

.authButton{
  width: 50%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1rem;
}

.authButton:hover{
  background-color: rgba(0, 0, 0, 0.292);
}

.css-1u2cvaz{
  align-items: center !important;
}